
.header {
  background-color: #282c34;
  height: 50px;
  display: flex;
  color: white;
  position: sticky;
  top: 0;
}


.category-galery-item{
  display: flex;
  justify-content: center;
  font-size: x-large;  
  text-decoration: none;
}

.category-galery-item-one{
  color: white;
  background-color: darkcyan;
}

.category-galery-item-two{
  color: white;
  background-color: rgb(1, 97, 97);
}

.category-galery-item-three{
  color: white;
  background-color: darkolivegreen;
}

.section{
  
}

.product-item{  
  min-height: 25rem;
  display: flex;
  flex-direction: column;  
}

.product-item-description{
  font-size: 0.75rem;
  flex-grow: 1;
}

.product-image{
  width: 100%;  
  object-fit: cover;
}

.product-item-price{
  font-size: large;
}

.banner-image{
  width: 100%;  
  object-fit: cover;
}

.search-input{
  width: 50%;
}




.row{
  margin-left: 0;
  margin-right: 0;
}



.basket-product-image{
  width: 5rem;  
  object-fit: cover;
}

.basket-product-row{
  margin-bottom: 10px;
  border-bottom: #eee solid 1px;
}

.basket-button{
    border: none;
    border-radius: 6px;
    padding: 6px;
    min-width: 80px;
}

.basket-added-product{
  background-color: rgb(238, 250, 238);
}