html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.product-category__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin: 32px;
}

.product-category__item {
    width: 250px;
    height: 100px;
    padding: 20px;
    font-size: 1.5rem;
    background-color: #f5f5f5;
    text-decoration: none;
    color: #555;
}

.product__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.product__item {
    position: relative;
    width: 250px;
    height: 350px;
    padding: 20px;
    box-shadow: 0 4px 8px 2px #eee;
}

.product__item_tag {
    display: inline-block;
    padding: 3px 6px;
    background-color: lightgreen;
    color: darkgreen;
    text-transform: lowercase;
    border-radius: 1px 7px 7px 1px;
    font-weight: 600;
    position: absolute;
    left: 0;
    top: 15px;
    font-size: 0.7em;
}

.product-filter__container{
    padding: 20px;
}

.basket__total-amount {
}