@model HomeIndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="product-category__container">
        @foreach (var productCategory in Model.ProductCategories)
        {
            <a href="#" class="product-category__item">
                @productCategory.Name
            </a>
        }
    </div>
</div>
