@model HomeIndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="pull-right">
        <span class="basket__total-amount"></span>
    </div>
    <div class="product-category__container">
        @foreach (var productCategory in Model.ProductCategories)
        {
            <a href="#" class="product-category__item">
                @productCategory.ProductCategory.Name
            </a>
        }
    </div>
    <div class="product-filter__container">
        <input id="#input-search" placeholder="search the product"/>
    </div>
    <div class="product__container">
        @foreach (var productCard in Model.ProductCards)
        {
            await Html.RenderPartialAsync("_ProductCard", productCard);
        }
    </div>
    <button class="btn-action-load-more">Load more...</button>
</div>
